#repositories{
    overflow: auto;
    border: 1px solid #DDDDDD;
    min-height: 100px;
}
#repositories .list-group-item{
    border-left: 0;
    border-right: 0;
}
#repositories .list-group-item:first-child{
    border-top: 0;
}
#repositories .list-group-item:last-child{
    border-bottom: 0;
}
#repositories .list-group-item:first-child,
#repositories .list-group-item:last-child{
    border-radius: 0;
}

#new-repository{
    margin-bottom: 0;
}

.col-md-3.projects{
	padding-right: 0;
}
#repository-details{
	border-radius: 4px;
	border: 1px solid #DDDDDD;
	padding: 15px;
}
#repository-details .form-group{
	width: 100%;
}
#repository-details .form-group select{
	width: 70%;
}
#repository-details .row{
	margin-bottom: 10px;
}

#git-revision-log{
	height: 240px;
	overflow-x: hidden;
	overflow-y: auto;
	_white-space: pre-wrap;
	border-top: 1px solid #CCCCCC;
}
#git-revision-log .commit{
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 10px;
	margin-top: 10px;
}
#git-revision-log .commit .commit-details{
	cursor: pointer;
}
#git-revision-log span{
	margin-right: 5px;
	display: inline-block;
	width: 60px;
}

/* ----- Pull/Switch modal -------------------------------------------------- */
#pull-branch-modal .modal-body,
#switch-branch-modal .modal-body,
#create-new-repo-modal .modal-body{
	min-height: 120px;
}
#pull-branch-modal .modal-body .message,
#switch-branch-modal .modal-body .message,
#commit-details-modal .modal-body,
#create-new-repo-modal .modal-body .message{
	white-space: pre-wrap;
}

/* ----- Commit details modal ----------------------------------------------- */
#commit-details-modal .modal-dialog{
	width: 80%;
}
#commit-details-modal .modal-dialog span{
	
}
#commit-details-modal .modal-dialog .diff{
	font-weight: bold;
}
#commit-details-modal .modal-dialog .added{
	color: #4e9a06;
}
#commit-details-modal .modal-dialog .removed{
	color: #cc0000;
}
#commit-details-modal .modal-dialog .info{
	color: #06989a;
}

/* ----- Create new repo modal ---------------------------------------------- */
#create-new-repo-modal .modal-dialog{
	width: 600px;
}
#create-new-repo-modal .url{
	width: 400px;
}