/* ------ command line output window --------------------------------- */
.console-output-main{	
	width: 100%;
	background-color: #fff;
}

#console-output{
	font-family: 'lucida console', Monospace;
	color: #666;
	overflow-y: auto;
	font-size: 12px;     
	background-color: #fefefe;           
	margin: 0 0 10px;
}
#console-output div{
	display: table-row;
}
#console-output div.end_command p{
	padding-bottom: 10px;
}
#console-output div p{
	display: table-cell;
	white-space: pre-wrap;
}
#console-output div p:first-child{
	border-right: 1px solid #aaa;
	padding-right: 5px;
}
#console-output div p:last-child{
	padding-left: 5px;
}
#console-output div p span.dir{
	font-weight: bold;
	cursor: pointer;
}
#console-output div p span.link{
	color: #2266FF;
	cursor: pointer;
}
#console-output div p span.file{
	color: #22AA22;
	cursor: pointer;
}

/* ------ Editor modal ----------------------------------------------- */
#console-editor-modal .modal-dialog{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0 auto;
}
#console-editor-modal .modal-content {
	height: 100%;
	border-radius: 0;
}
#console-editor-modal .modal-body .tab-content{
	position: relative;
	height: 400px;
}
#console-editor-modal .modal-body .tab-content .editor { 
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#console-editor-modal .message{
	font-size: 14px;
	float: right;
}
#console-editor-modal .message span{
	padding: 0 5px;
}

#console-commands-history{
	max-height: 500px;
	overflow: auto;
}
